<a href="https://colab.research.google.com/github/Ma1y0/spam-neural-network/blob/main/spam_n_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.python.keras.utils import np_utils
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Dropout, Activation, Embedding
from tensorflow.keras.layers import Bidirectional, LSTM

df = # Load data
df.head()

  Target                                               Text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df.shape

(5572, 2)

In [ ]:
df["Target"] = df["Target"].apply(lambda x: 0 if x == "ham" else 1)
df.head()

   Target                                               Text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
vocab_size = 5000
embedding_dim = 64
max_length = 100
trunc_type = "post"
padding_type = "post"
oov_tok = "<OOV>"

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df["Text"], df["Target"], test_size=0.2)
print(len(x_train))
print(len(x_test))

4457
1115

In [ ]:
x_train.iloc[0]

"The LAY MAN! Just to let you know you are missed and thought off. Do have a great day. And if you can send me bimbo and ugo's numbers, ill appreciate. Safe"

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(x_train)
x_train = tokenizer.texts_to_sequences(x_train)
x_test = tokenizer.texts_to_sequences(x_test)

In [ ]:
x_train[0]

In [ ]:
x_train = pad_sequences(x_train, maxlen=max_length, padding=padding_type, truncating=trunc_type)
x_test = pad_sequences(x_test, maxlen=max_length, padding=padding_type, truncating=trunc_type)

In [ ]:
x_train[0]

array([   6, 3809,  259,   38,    3,  184,    4,   55,    4,   22,  567,
          8,  304,  203,   28,   18,    5,  122,   67,    8,   36,    4,
         27,   70,   11, 3810,    8, 3811,  739,  277, 1126,  935,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0], dtype=int32)

In [ ]:
y_train.shape

(4457,)

In [ ]:
y_test_a = y_test

n_classes = 2

y_train = np_utils.to_categorical(y_train, n_classes)
y_test = np_utils.to_categorical(y_test, n_classes)

In [ ]:
y_train.shape

(4457, 2)

In [ ]:
model = Sequential()
model.add(Embedding(vocab_size, embedding_dim))
model.add(Dropout(0.5))
model.add(Bidirectional(LSTM(64)))
model.add(Dense(2, activation="softmax"))

model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, None, 64)          320000
_________________________________________________________________
dropout_3 (Dropout)          (None, None, 64)          0
_________________________________________________________________
module_wrapper_3 (ModuleWrap (None, 128)               66048
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 258
=================================================================
Total params: 386,306
Trainable params: 386,306
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
print(f"train x: {x_train.shape} y: {y_train.shape}")
print(f"test x: {x_test.shape} y: {y_test.shape}")

train x: (4457, 100) y: (4457, 2)
test x: (1115, 100) y: (1115, 2)

In [ ]:
history = model.fit(x_train, y_train, epochs=10, validation_data=(x_test, y_test), verbose=1)

Epoch 1/10
140/140 [==============================] - 5s 16ms/step - loss: 0.2181 - accuracy: 0.9284 - val_loss: 0.0800 - val_accuracy: 0.9776
Epoch 2/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0440 - accuracy: 0.9877 - val_loss: 0.0899 - val_accuracy: 0.9740
Epoch 3/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0274 - accuracy: 0.9933 - val_loss: 0.0688 - val_accuracy: 0.9821
Epoch 4/10
140/140 [==============================] - 2s 12ms/step - loss: 0.0165 - accuracy: 0.9960 - val_loss: 0.0775 - val_accuracy: 0.9830
Epoch 5/10
140/140 [==============================] - 2s 12ms/step - loss: 0.0100 - accuracy: 0.9975 - val_loss: 0.0721 - val_accuracy: 0.9830
Epoch 6/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0093 - accuracy: 0.9973 - val_loss: 0.0744 - val_accuracy: 0.9821
Epoch 7/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0035 - accuracy: 0.9991 - val_loss: 0.0875 - val_accuracy: 0.9821
Epoch 8/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0017 - accuracy: 0.9996 - val_loss: 0.1253 - val_accuracy: 0.9803
Epoch 9/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0227 - accuracy: 0.9966 - val_loss: 0.0852 - val_accuracy: 0.9812
Epoch 10/10
140/140 [==============================] - 1s 10ms/step - loss: 0.0031 - accuracy: 0.9996 - val_loss: 0.1027 - val_accuracy: 0.9803

In [ ]:
y_pred = model.predict(x_test)
y_pred.shape

(1115, 2)

In [ ]:
y_class = np.argmax(y_pred, axis=1)
y_class.shape

(1115,)

In [ ]:
y_test_a.shape

(1115,)

In [ ]:
print("ML MODEL REPORT")
print()
print("Confusion matrix:")
print(metrics.confusion_matrix(y_test_a, y_class))
print()
print(metrics.classification_report(y_test_a, y_class))
print()
print(f"Accuracy: {metrics.accuracy_score(y_test_a, y_class)}")

ML MODEL REPORT

Confusion matrix:
[[953   1]
 [ 21 140]]

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       954
           1       0.99      0.87      0.93       161

    accuracy                           0.98      1115
   macro avg       0.99      0.93      0.96      1115
weighted avg       0.98      0.98      0.98      1115


Accuracy: 0.9802690582959641